body {
    position: relative;
    overflow-x: hidden;
   /*background: #4a4a4a url("../views/background2.png") no-repeat center fixed;*/
    background-size: 100%;
    background: linear-gradient(to bottom right, #73766f, #636363, #70735d, #cbc190) fixed;
}
body,
html { height: 100%;}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {background-color: transparent;}

.selected-item{
    background: #8f808f;
    color: #a7a7a7;
}

/*-------------------------------*/
/*           Create Post         */
/*-------------------------------*/

.post-button{
    background-color: #343434;
    color: #959c9c;
}

.post-button:hover{
    background-color: #777475;
    color: #242024;
}



/*-------------------------------*/
/*           Quick Reply         */
/*-------------------------------*/
/* Pc and tablet */
@media(min-device-width: 576px) {
    .quickReplySection{
        margin-left: 155px;
    }
}
/* Phone device */
@media(max-device-width: 576px){
    .quickReplySection{
        margin-left: 105px;
    }

}



/*-------------------------------*/
/*           User Inf            */
/*-------------------------------*/

.userdrop,
.postDrop,
.message-options{
    color: white;
    display: block;
    border: none;
    background: transparent;
    opacity: .5;
}

.userdrop{
    margin-top: -19px;
}

.postDrop{
    position: absolute;
    float: right;
    padding-left: 130px;
    padding-top: -10px;
}

.section-button{
    background: transparent;
    border: none;
    color:white;
}

.userdrop:hover,
.userdrop:active,
.userdrop:focus,
.postDrop:hover,
.postDrop:active,
.postDrop:focus,
.message-options:hover,
.message-options:active,
.message-options:focus,
.section-button:hover,
.section-button:active,
.section-button:focus{
    outline: none;
}

.circular-image {
    border-radius: 50%;
    margin-left:145px;
    margin-top:-90px;
}

.main-info{
    border-radius: 5px;
}

.user-name{
    text-align: center;
    /*background-color: #4a4a4a;*/
    font: "Calibri Light";
    font-size: 15px;
}

.user-details{
    text-align: left;
    margin-left: 5px;
    font: "Calibri Light";
    font-size: 12px;
}

.ammount{
    text-align: right;
    font: "Calibri Light";
    font-size: 12;
}

.user-info{
    text-align: right;
    font: fantasy;
    font-size: 12px;
}

.message-body{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

}

@media(min-device-width: 768px) {
    .user-avatar{
        width: 150px;
        height: 150px;
        margin-left: 4px;
        margin-right: 4px;
        margin-top: 5px;
        margin-bottom: 7px;
        object-fit: cover;
    }
}

/* Phone device */
@media(max-device-width: 576px){
    .user-avatar{
        width: 100px;
        height: 100px;
        margin-left: 4px;
        margin-right: 4px;
        margin-top: 5px;
        margin-bottom: 7px;
        object-fit: cover;

    }

}
/* Tablet device */
@media(min-device-width: 576px) and (max-device-width: 768px) {
    .user-avatar{
        width: 150px;
        height: 150px;
        margin-left: 4px;
        margin-right: 4px;
        margin-top: 5px;
        margin-bottom: 7px;
        object-fit: cover;
    }
}
/*
.avatar-div.user-avatar{
    min-width: 100%;
}*/
div img{
    min-width: 100%;
}

/*-------------------------------*/
/*           Header              */
/*-------------------------------*/


/* PC screen */

@media(min-device-width: 768px){
    .header{
        background: url("https://u.rindou.moe/NZzCaY77fWQ4iUMsq0kt.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width:100%;
        height: 350px;
    }
}
/* Phone device */
@media(max-device-width: 576px){
    .header{
        background: url("https://u.rindou.moe/axgrw1LrPpnz2BMGDYr2.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width:100%;
        height: 150px;
    }

}
/* Tablet device */
@media(min-device-width: 576px) and (max-device-width: 768px) {
    .header{
        background: url("https://u.rindou.moe/gYdThtiSfb5rUjNv443t.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        width:100%;
        height: 200px;
    }
}

@media(min-device-width: 1px){
    #sidebar-header{
        margin-left:1px;/*
        margin-top: 2px;
        margin-right: 2px;*/
        width: 230px;
        height: 180px;
        /*background: url("../views/C9UArISWsAASpZA.jpg") no-repeat center center;*/
    }
}
/*-------------------------------*/
/*           cards               */
/*-------------------------------*/

.card-text.section {
    border: #8bd200;
}
.description {
    font-size: 10px;
}
.sub-section {
	border: none;
    background-color: #4a4a4a;
    color: #f3eefe;
}

.section-header{
    background:linear-gradient(to bottom right, #383838,#4a4a4a,#4a4a4a, #5b5b5b);
    color: #f5f2ff;
    text-align: center;
    font: "Calibri Light";
}
.last-message {
    text-align: right;
    align-items: center;
    align-self: center;
}

/*-------------------------------*/
/*           Links               */
/*-------------------------------*/
a:link {
    color: #4cddff;
}
a:hover{
    color: #5dfff3;
}
a:visited{
    color:white;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #1a1a1a;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



#sidebar-wrapper::-webkit-scrollbar {
    display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
    padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    background-color: #1c1c1c;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    transition: width .2s ease-in;

}

.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #22345c;
}
.sidebar-nav li:hover {
    background-color: #857a89;
}


.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}

.sidebar-nav > .sidebar-brand {
    height: 60px;
    font-size: 15px;
    line-height: 40px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
    position:fixed;
    display: block;
    border: none;
    background: transparent;
    margin-left: 5px;
    z-index: 999;
}
.hamburger:hover,
.hamburger:active,
.hamburger:focus{
    outline: none;
}






/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 252, 221, 0.62);
    z-index: 1;
}
